@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#container {
    width: 1200px;
    height: 500px;
    margin: 0% auto;
}

header {
    background-color: #fff;
    padding: 10px 20px;
}

/* MENU */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    width: 50px;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 300px;
    margin: 0;
    padding: 0;
    justify-content: center;
    /* centraliza os links */
}

.menu a {
    text-decoration: none;
    color: #6750A4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

/* ICON */
.user-icon {
    display: flex;
    color: #6750A4;
    font-size: 25px;
}

.user-icon:hover {
    background-color: #6750A4;
}

/* SECTION 1 */
#MgsPrimary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* IMG FUNDO */
    background-color: #6750A4;
    background-image: url("../img/index/fundo.png");
    background-repeat: no-repeat;
    background-position: center;
    /* IMG FUNDO */
    color: #fff;
}

#MgsPrimary div {
    max-width: 50%;
}

#MgsPrimary h2 {
    padding: 40px;
    font-size: 70px;
    font-weight: bold;
}

#MgsPrimary p {
    padding: 40px;
    font-size: 25px;
    line-height: 1.6;
}

#MgsPrimary img {
    width: 100%;
}

/* SECTION 2 */
#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0px;
    padding: 10px;
}

#cards p {
    font-size: 25px;
    padding-top: 20px;
}

#cards div {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#cards img {
    width: 100%;
}

#empresario {
    background: #038C33;
    color: #FFF;
    border: #038C33 2px solid;
}

#mgs {
    background: #6750A4;
    color: #FFF;
    border: #6750A4 2px solid;
}

#candidato {
    background: #038C33;
    color: #FFF;
    border: #038C33 2px solid;
}

/* SECTION 3 */
#MgsThird img {
    width: 100%;
    height: 100%;
}

/* SECTION 4 */
#MgsFourth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6750A4;
    color: #fff;
    text-align: center;
}

#MgsFourth div {
    max-width: 50%;
}

#MgsFourth h2 {
    padding: 40px;
    font-size: 70px;
    font-weight: bold;
}

#MgsFourth p {
    padding: 40px;
    font-size: 25px;
    line-height: 1.6;
}

#MgsFourth img {
    width: 100%;
}

#MgsFourth a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

#MgsFourth button {
    background: #038C33;
    color: #FFF;
    border: none;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1px #000;
}

/* FOOTER */
.footer {
    /* IMG FUNDO */
    background-color: white;
    background-image: url("../img/index/fundopadrao.png");
    background-repeat: no-repeat;
    background-position: center;
    /* IMG FUNDO */
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    min-width: 200px;
}

.footer-logo img {
    width: 150px;
}

.social {
    margin-top: 15px;
}

.social a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
}

.column h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    /* destaque */
}

.column ul li {
    margin-bottom: 8px;
}

.column ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

#cop{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #038C33;
    color: #FFF;
    padding: 10px;
}